*{
    margin: 0;
    padding: 0;
    font-family:cursive;
    
    
}
body{
     background-repeat: no-repeat;
    background-size: cover;
  background-image: url('/images/background.jpg');  
}
.container{
    /* background-image:url('/images/background.jpg') ;
    background-repeat: no-repeat;
    background-size: cover; */
    display: none;
    height: 100vh;
    
   
}
.letters{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    height: 40vh;
    align-items: center;
    padding: 2%;
    justify-content: center;
    margin-right: 2rem;
    float: right;
}
.letter-btn{
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 0.875rem;
    margin-left: 0.375rem;
    margin-right: 0.375rem;
    margin-top: 0.375rem;
    padding: 0.5rem 1rem;
    box-shadow: 0 0 #bbb2b2,
                0 0px #bbb2b2,
                0 1px #bbb2b2,
                0 2px #bbb2b2,
                0 3px #bbb2b2,
                0 4px #bbb2b2,
                0 5px #bbb2b2,
                0 6px #bbb2b2,
                0 7px #bbb2b2,
                0 8px #bbb2b2,
                2px 4px 4px #838181,
                0 -1px 4px #4d4c4c;
    background : rgb(179, 171, 171);
    border-color : #898686;
    color: #080909;
    cursor: pointer;
    backface-visibility: hidden;
    border: 1px solid #949292;
    border-radius : e.25rem;
    display: inline-block;
    font-weight: 400;
    text-align: left;
    transform: translate3d(0,0,5px);
    transform-style: preserve-3d;
    transition: all 0.25s cubic-bezier(0.2,1,0.2,1); 
}
.letter-btn:after{
content:'';
border-style: solid;
box-sizing: content-box;
display: block;
position: absolute;
transform-style: preserve-3d;
border-radius : e.5rem;
border-color: #aba7a7;
transform: translate3d(0, 0, -8px) ;
bottom: -13px;
left:-0.375rem;
right:-0.375rem;
top: 3px;
border-width : 0.125rem;
transition: all 0.25s cubic-bezier(0.2,1,0.2,1)
}
.letter-btn:hover{
    transform:scale(1.1) ;
    background: #716f6f;
}
.clicked{
    color: #777676;
    pointer-events: none;
    opacity: .5;
}
.holder{
    
    margin:2rem auto;
    display: flex;
    justify-content: space-around;
    
    width: max-content;
    
    
}
.holder span{
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 0.875rem;
    margin-left: 0.375rem;
    margin-right: 0.375rem;
    margin-top: 0.375rem;
    padding: 0.5rem 1rem;
    direction: ltr;
    background : rgb(234, 231, 231);
    border-color : #b9a1a1;
    color: #080909;
    
    border: 1px solid #d0c1c1;
    border-radius : e.25rem;
    display: inline-block;
    font-size: x-large;
    font-weight: 400;
    text-align: left;
    
}
#img-container{
    
    
    width: 40%;
    margin-left: 2rem;
    
    position:relative;
    display: flex;
    justify-content: center;
    padding:2%;
    height: 40vh;
}
#img-container img{
    width: 100%;
}
.logo{
    
    width: 25%;
    margin-left: 40%;
    
}
.welcome-page{
    background-image: url('/images/background1.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
}
.welcome-page h1{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #681817 0%,
    #d7d5d5 29%,
    #ff1361 67%,
    #5d5c5a 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  
  font-size: 4rem;
  
      
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.authors{
    width: 50%;
    margin-top: 9rem;
    display: flex;
    justify-content: space-evenly;
    padding-left: 1rem;
    margin-right: 40rem;
    
}

.author{
    display:inline-block;
    width:5rem;
    height:5rem;
    border-radius:5rem;
    background:url('/images/Ahmad\ Al\ Hariri_Turkey_2022.jpg') center no-repeat;
    background-size:100%;
    box-shadow:0 2px 3px rgba(0,0,0,0.3);
    margin-bottom:3px;
    
  }
  .author1{
    display:inline-block;
    width:5rem;
    height:5rem;
    border-radius:5rem;
    background:url('/images/Ahmad\ Al\ Hariri_Turkey_2022.jpg') center no-repeat;
    background-size:100%;
    box-shadow:0 2px 3px rgba(0,0,0,0.3);
    margin-bottom:3px
  }
  .author2{
    display:inline-block;
    width:5rem;
    height:5rem;
    border-radius:5rem;
    background:url('/images/Ahmad\ Al\ Hariri_Turkey_2022.jpg') center no-repeat;
    background-size:100%;
    box-shadow:0 2px 3px rgba(0,0,0,0.3);
    margin-bottom:3px
  }
  .author3{
    display:inline-block;
    width:5rem;
    height:5rem;
    border-radius:5rem;
    background:url('/images/Ahmad\ Al\ Hariri_Turkey_2022.jpg') center no-repeat;
    background-size:100%;
    box-shadow:0 2px 3px rgba(0,0,0,0.3);
    margin-bottom:3px
  }
  .authors p{
    color: #931212;
    font-weight: 700;
  }
  .start-btn{
  margin-top: 2rem;
    
  /* text-align: center; */
  width: 10%;
  height: 10%;
  /* min-width: 1rem;
  min-height: .5rem; */
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #070709;
  background: linear-gradient(90deg, rgb(117, 9, 9) 0%, rgb(234, 56, 56) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(174, 89, 83, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

  .start-btn::before {
  content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #b42003;
  box-shadow: 0 0 60px rgba(255, 110, 88, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.start-btn:hover, .start-btn:focus {
  color: #313133;
  transform: translateY(-6px);
}

.start-btn:hover::before, .start-btn:focus::before {
  opacity: 1;
}

.start-btn::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #a93c3c;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.start-btn:hover::after, .start-btn:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }

  }
  .counter{
   text-align: center;
   font-size: xx-large;
   font-weight: 800;
   margin-top: 1rem;
   position: relative;
  }
  .reset {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    float: right;
    margin-right: 5rem;
    transition: 0.5s ease;
}

.reset:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.reset:hover{
  transform: scale(1.1);
}

.reset:active {
    color: #000
}

.reset:active:after {
    background: transparent;
}

.reset:hover:before {
    opacity: 1;
    
}

.reset:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

