*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    background-color: aqua;
    width: 100%;
    height: 100vh;
    position: absolute;
    
}
.letters{
background-color: black;
height: 25%;
margin-bottom: 10%;
display: flex;
flex-direction: row;
align-items: center;
flex-wrap: wrap;
margin: 10%;
padding: 0;
}
.letter-btn{
font-size: x-large;
background-color: aqua;

}
.holder{
    
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

ahmad{
    background-color: red;
}
